body{
	background-color: #383838;
	font-family: 'Open Sans', sans-serif;
}

h2{
	margin: auto;
}

p{
	margin-bottom: auto;
}

span.opsi{
	position: relative;
  top: 0px;
  left: 0px;
}

.opsi{
	padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
	position: right;
}

.navigasi{
    background-color: #0093fc;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
}


.opsi:hover{
	background-color:  #cacccc;

}

.hidup{
	background-color: #3f3f3f;
}

.home{
	 padding: 20px;
    color: #ffffff;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 2px;
    text-align: justify;
    background: #3f3f3f;
    margin: 10px 0;
    border-radius: 4px;
}

.isi{
	padding: 20px;
    color: #ffffff;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 3px;
    text-align: justify;
    background: #3f3f3f;
    margin: 10px 0;
    border-radius: 4px;
}
